/*
 * ATAK Plugin – Copyright (c) 2025 Steven Sharp
 *
 * Licensed under the Non-Commercial AGPLv3.
 * You may use, modify, and share this code freely for non-commercial purposes.
 *
 * Commercial use requires a separate paid license.
 * Contact: stevensharp6@gmail.com
 */

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voicenav">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:label="VoiceNavPlugin">
        <service
            android:name=".VoiceNavService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>

